@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../node_modules/preline/variants.css";

html {
  color-scheme: light;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-800 dark:bg-slate-900 dark:text-slate-100 antialiased;
}

.dark {
  color-scheme: dark;
}

.container-responsive {
  @apply mx-auto max-w-7xl px-6 sm:px-8;
}

